---
import ProjectCard from "./project-card.astro";
import { projects } from "./projects";
---

<section class="grid grid-cols-1 gap-4 py-12 lg:grid-cols-3 sm:grid-cols-2">
  {projects.map((project) => <ProjectCard {...project} />)}
  <a
    href="https://github.com/mrcaidev"
    target="_blank"
    rel="noreferrer"
    class="group col-span-1 flex items-center justify-center gap-1 rounded-md bg-slate-900 px-6 py-4 transition-colors lg:col-span-1 sm:col-span-2 hover:bg-slate-800"
  >
    <span class="text-sm font-medium sm:text-base">More</span>
    <span
      class="i-lucide-arrow-up-right text-base transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5"
    ></span>
  </a>
</section>
