---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  icon: ImageMetadata;
  link: string;
}

const { title, icon, link } = Astro.props;
---

<div
  class="flex items-center gap-4 sm:gap-5 relative h-full px-3 py-2.5 sm:px-5 sm:py-4 rounded-lg hover:bg-gray-900 transition-colors"
>
  <Image src={icon} alt="" class="size-9 sm:size-10" />
  <div class="space-y-0.5">
    <h2 class="font-medium sm:text-lg">{title}</h2>
    <p class="text-sm text-gray-400">
      <slot />
    </p>
  </div>
  <a href={link} target="_blank" class="absolute inset-0 rounded-lg">
    <span class="sr-only size-0">Visit project</span>
  </a>
</div>
