---
import type { GetStaticPaths, MarkdownLayoutProps } from "astro";
import Pagination from "components/Pagination.astro";
import PostCard from "components/PostCard.astro";
import FeaturePage from "layouts/FeaturePage.astro";

export interface Props {
  page: Page<DeeplyNonNullable<MarkdownLayoutProps<Frontmatter>>>;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await Astro.glob<Frontmatter>("./posts/*.md");
  posts.sort(
    (
      { frontmatter: { publishedAt: a } },
      { frontmatter: { publishedAt: b } }
    ) => {
      return new Date(b).getTime() - new Date(a).getTime();
    }
  );
  return paginate(posts, { pageSize: 5 });
};

const { page } = Astro.props;
---

<FeaturePage
  title="Blog"
  description="Show my insights. Share my experience. Record my growth."
>
  <ul
    class="my-6 sm:my-12 sm:pl-4 divide-y divide-slate-300 dark:divide-slate-700 sm:divide-none sm:border-l-2 border-sky-800 dark:border-sky-200 sm:space-y-2"
  >
    {
      page.data.map(({ url, frontmatter }, index) => (
        <li class="animate-drop" style={`animation-delay: ${index * 0.2}s`}>
          <PostCard {...frontmatter} url={url} />
        </li>
      ))
    }
  </ul>
  <Pagination {...page} />
</FeaturePage>
