---
import avatar from "assets/avatar.webp";
---

<div class="order-1 md:order-2 p-2 rounded-full border border-graydark-8 m-4">
  <img
    src={avatar}
    alt="Avatar of Yuwang Cai"
    width="192"
    height="192"
    class="w-40 h-40 sm:w-48 sm:h-48 rounded-full"
  />
</div>
