<p
  class="font-600 text-lg md:text-xl xl:text-2xl text-slate-600 dark:text-slate-400"
>
  Hello, my name is
</p>
<h1 class="font-700 text-4xl sm:text-5xl md:text-6xl xl:text-7xl">
  Yuwang Cai.
</h1>
<p
  class="font-700 text-4xl sm:text-5xl md:text-6xl xl:text-7xl text-sky-600 dark:text-sky-400"
>
  A full stack developer.
</p>
<p class="text-lg md:text-xl xl:text-2xl text-slate-600 dark:text-slate-400">
  Chinese student. Open source contributor. Tech enthusiast. He/him.
</p>
