<p
  class="text-lg font-600 text-slate-600 md:text-xl xl:text-2xl dark:text-slate-400"
>
  Hello, my name is
</p>
<h1 class="text-4xl font-700 md:text-6xl sm:text-5xl xl:text-7xl">
  Yuwang Cai.
</h1>
<p
  class="text-4xl font-700 text-sky-600 md:text-6xl sm:text-5xl xl:text-7xl dark:text-sky-400"
>
  A full stack developer.
</p>
<p class="text-lg text-slate-600 md:text-xl xl:text-2xl dark:text-slate-400">
  Chinese student. Open source contributor. Tech enthusiast. He/him.
</p>
