---
import Avatar from "./avatar.astro";
import Typewriter from "./typewriter.astro";
---

<section
  class="flex flex-col md:flex-row justify-center md:justify-around items-center gap-6 min-h-screen"
>
  <div
    class="order-2 md:order-1 flex flex-col items-center md:items-start gap-6"
  >
    <h1 class="font-bold text-4xl sm:text-5xl">Yuwang Cai</h1>
    <p class="md:ml-1 font-medium sm:text-lg text-graydark-11">
      I am a&nbsp;<Typewriter />
    </p>
    <a
      href="#contact"
      class="px-4 py-2 rounded md:ml-1 bg-cyandark-9 hover:bg-cyandark-10 font-medium text-sm sm:text-base transition-colors"
    >
      Contact me
    </a>
  </div>
  <Avatar />
</section>
