---
import Avatar from "./avatar.astro";
import { platforms } from "./data";
import Platform from "./platform.astro";
import Typewriter from "./typewriter.astro";
---

<section
  class="flex flex-col md:flex-row justify-center md:justify-around items-center gap-6 min-h-screen"
>
  <div
    class="order-2 md:order-1 flex flex-col items-center md:items-start gap-6"
  >
    <h1 class="font-bold text-4xl sm:text-5xl">Yuwang Cai</h1>
    <p class="md:ml-1 font-medium sm:text-lg text-center text-graydark-11">
      I am a&nbsp;<Typewriter />
    </p>
    <ul class="flex items-center gap-4">
      {
        platforms.map((platform) => (
          <li>
            <Platform {...platform} />
          </li>
        ))
      }
    </ul>
  </div>
  <Avatar />
</section>
