---
import favicon from "assets/favicon.svg";
import { Image } from "astro:assets";
---

<div
  class="grid place-items-center relative aspect-square w-60 md:w-80 xl:w-100"
>
  <div
    class="absolute left-1/2 top-1/2 -translate-1/2 w-3/4 h-3/4 -z-10 rounded-full bg-gradient-to-tr from-blue-300 dark:from-blue-700 to-cyan-300 dark:to-cyan-700 blur-3xl"
  >
  </div>
  <Image
    src={favicon}
    alt="Logo"
    width={176}
    height={240}
    class="aspect-ratio-[3/4] w-22 md:w-33 xl:w-44"
  />
</div>
