---
import ChevronsDown from "icons/chevrons-down.astro";
---

<button
  type="button"
  id="scroll-indicator"
  class="flex flex-col items-center gap-2 fixed bottom-6 px-2 py-1 text-sm sm:text-base text-graydark-11"
>
  <span>Scroll down</span>
  <ChevronsDown size={16} class="motion-safe:animate-bounce" />
</button>

<script>
  const indicator = document.querySelector("#scroll-indicator");

  let isHidden = false;

  window.addEventListener("scroll", () => {
    if (!isHidden && window.scrollY > 0) {
      isHidden = true;
      indicator?.classList.add("hidden");
    } else if (isHidden && window.scrollY === 0) {
      isHidden = false;
      indicator?.classList.remove("hidden");
    }
  });
</script>
