---
import SocialLink from "./social-link.astro";
---

<div class="flex justify-center lg:justify-start items-center gap-6">
  <SocialLink href="mailto:mrcaidev@gmail.com" label="Email">
    <span class="i-tabler-mail"></span>
  </SocialLink>
  <SocialLink href="https://github.com/mrcaidev" label="GitHub">
    <span class="i-tabler-brand-github"></span>
  </SocialLink>
  <SocialLink href="https://space.bilibili.com/35364718" label="Bilibili">
    <span class="i-tabler-brand-bilibili"></span>
  </SocialLink>
</div>
