---
import SectionTitle from "components/section-title.astro";
import Item from "./item.astro";
---

<section class="py-20">
  <SectionTitle title="About" description="A brief self-introduction" />
  <ul
    class="space-y-1 max-w-xl mx-auto bg-gradient-to-r from-cyan-11 to-cyan-6 leading-7"
  >
    <Item>
      <p>
        I am currently pursuing a double degree in Computer Science and
        Mathematics at
        <a
          href="https://en.uestc.edu.cn/"
          class="font-medium text-cyan-dim hover:underline underline-offset-4"
        >
          UESTC</a
        >.
      </p>
      <p>
        I received the Outstanding Student Scholarship twice, and was the
        president of the Inter-disciplinary Student Association.
      </p>
    </Item>
    <Item>
      <p>
        I am a self-taught web developer, and an active member of the open
        source community.
      </p>
      <p>
        I build beautiful and performant apps in various languages, mostly
        TypeScript and Python. Coding is my passion.
      </p>
    </Item>
    <Item>
      <p>
        I love music. My favourite bands are Imagine Dragons, Starset and Fall
        Out Boys.
      </p>
      <p>I also enjoy animes and games.</p>
    </Item>
  </ul>
</section>
