---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="py-6">
  <h2 class="mb-3 font-bold text-lg sm:text-xl">
    {title}
  </h2>
  <p class="leading-relaxed">
    <slot />
  </p>
</section>
