---
import { links } from "./data";
import NavigationLink from "./link.astro";
---

<nav class="flex flex-col sm:flex-row items-center gap-3">
  {links.map((link) => <NavigationLink {...link} />)}
</nav>
