---
import Layout from "./_layout.astro";
---

<Layout>
  <main
    class="min-h-screen flex flex-col items-center justify-center p-4 text-center space-y-4"
  >
    <h1 class="text-3xl font-bold sm:text-4xl">Page Not Found</h1>
    <p class="text-balance text-slate-400">
      Oops! The page you're looking for doesn't exist. Let's get you back on
      track!
    </p>
    <a
      href="/"
      class="inline-flex items-center gap-2 rounded-md bg-slate-200 px-4 py-2 text-sm text-slate-800 font-medium transition-colors hover:bg-slate-200/90"
    >
      <span class="i-lucide-house text-base"></span>
      Take me home
    </a>
  </main>
</Layout>
