---
import Page from "layouts/Page.astro";
---

<Page title="Not Found" description="This page does not exist.">
  <h1 class="font-semibold text-3xl leading-loose">Page Not Found</h1>
  <p class="text-dim leading-loose">Path: {Astro.url.pathname}</p>
  <a href="/" class="leading-loose underline underline-offset-4"
    >Back to homepage</a
  >
</Page>
