---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/700.css";
import Head from "components/head.astro";
import "global.css";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <Head />
  <body
    class="bg-gray-1 dark:bg-graydark-1 font-sans text-gray-12 dark:text-graydark-12 [-webkit-tap-highlight-color:transparent]"
  >
    <slot />
  </body>
</html>
