---
import AboutCard from "components/AboutCard.astro";
import about from "data/about.json";
import DetailPage from "layouts/DetailPage.astro";
---

<DetailPage title="About" description="A brief introduction of myself.">
  <div class="divide-y divide-slate-200 dark:divide-slate-800">
    {about.map((item) => <AboutCard {...item} />)}
  </div>
</DetailPage>
