---
import sake from "assets/sake.webp";
import FriendCard from "components/FriendCard.astro";
import FeaturePage from "layouts/FeaturePage.astro";

const friends = [
  {
    title: "Sake",
    description: "Pythonist. Machine Learning. Computer Vision.",
    avatar: sake,
    url: "https://fullstack-sake.github.io/",
  },
];
---

<FeaturePage
  title="Friends"
  description="Some of my friends' fantastic works. Check them out!"
>
  <ul class="pt-6 space-y-2">
    {
      friends.map((friend, index) => (
        <li class="animate-lift" style={`animation-delay: ${index * 0.2}s;`}>
          <FriendCard {...friend} />
        </li>
      ))
    }
  </ul>
</FeaturePage>
