---
import "styles/global.css";
console.log("This runs in your terminal, not the browser!");
---

<html lang="en">
  <body>
    <h1 class="text-highlight h-screen">Hello, World!</h1>
    <h1 class="text-red-500 h-screen">Hello, World!</h1>
  </body>
</html>
