---
import "@fontsource/inter";

console.log("This runs in your terminal, not the browser!");
---

<html lang="en-US">
  <body class="font-sans">
    <h1 class="text-red-500">Hello, World!</h1>
  </body>
</html>
