---
import Avatar from "components/Avatar.astro";
import HeroPage from "layouts/HeroPage.astro";
---

<HeroPage title="Home" description="Yuwang Cai's homepage.">
  <Avatar />
  <h1 class="m-4 font-bold text-4xl sm:text-6xl text-center leading-normal">
    Yuwang Cai
  </h1>
  <p class="sm:text-lg text-slate-600 dark:text-slate-400 m-2 text-center">
    Chinese undergraduate. Web developer. Tech enthusiast. He/him.
  </p>
  <a
    href="/about"
    class="px-4 py-2 rounded-lg m-4 bg-sky-800 dark:bg-sky-200 font-medium text-slate-200 dark:text-slate-800 shadow hover:brightness-90 transition-[filter]"
    >Learn more</a
  >
</HeroPage>
