---
import blog from "assets/blog.webp";
import cue from "assets/cue.webp";
import hooks from "assets/hooks.webp";
import paste from "assets/paste.webp";
import ProjectCard from "components/ProjectCard.astro";
import DetailPage from "layouts/DetailPage.astro";

const data = [
  {
    title: "@mrcaidev/hooks",
    description: "A collection of React utility hooks.",
    coverImage: hooks,
    url: "https://hooks.mrcai.dev",
  },
  {
    title: "@mrcaidev/cue",
    description: "A minimal MVVM framework.",
    coverImage: cue,
    url: "https://stackblitz.com/edit/vitejs-vite-d8bl4y?file=index.html",
  },
  {
    title: "blog",
    description: "Yuwang Cai's blog.",
    coverImage: blog,
    url: "https://blog.mrcai.dev",
  },
  {
    title: "paste",
    description: "A simple and lightweight markdown pastebin.",
    coverImage: paste,
    url: "https://paste.mrcai.dev",
  },
];
---

<DetailPage
  title="Projects"
  description="I've built many open source projects, and actively contribute to the community."
>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-stretch gap-8 mt-12"
  >
    {data.map((item) => <ProjectCard {...item} />)}
  </div>
</DetailPage>
