---
import SectionTitle from "components/section-title.astro";
import { platforms } from "./data";
import Form from "./form.astro";
import Platform from "./platform.astro";
---

<section class="py-20">
  <SectionTitle title="Contact" description="Let's connect" />
  <div
    class="flex flex-col md:flex-row items-center md:items-start gap-8 max-w-3xl mx-auto"
  >
    <ul class="shrink-0 grid grid-cols-2 md:grid-cols-1 gap-1">
      {
        platforms.map((platform) => (
          <li>
            <Platform {...platform} />
          </li>
        ))
      }
    </ul>
    <Form />
  </div>
</section>
