---
import { GitHub } from "react-feather";
---

<a
  href="https://github.com/mrcaidev/homepage"
  target="_blank"
  rel="noreferrer"
  aria-label="View source code on GitHub"
  class="button-vivid"
>
  <GitHub size="24" />
</a>
