---
import Fence from "./fence.astro";
import HorizontalNav from "./horizontal-nav.astro";
import Logo from "./logo.astro";
import MenuControl from "./menu-control.astro";
import Menu from "./menu.astro";
import ThemeToggle from "./theme-toggle.astro";
---

<header
  class="fixed left-0 right-0 top-0 z-20 bg-slate-50/70 px-8 backdrop-blur dark:bg-slate-950/70"
>
  <div class="mx-auto max-w-7xl flex items-center justify-between">
    <Logo />
    <div class="md:hidden">
      <MenuControl />
    </div>
    <div class="hidden md:flex md:items-center">
      <HorizontalNav />
      <Fence />
      <ThemeToggle />
    </div>
  </div>
</header>

<Menu />
