---
import Logo from "./logo.astro";
import Nav from "./nav.astro";
---

<header
  class="fixed left-0 right-0 top-0 z-30 bg-slate-50/70 backdrop-blur dark:bg-slate-950/70"
>
  <div class="mx-auto max-w-7xl flex px-8">
    <Logo />
    <div class="grow"></div>
    <Nav />
  </div>
</header>
