---
import Logo from "./logo.astro";
import NavigationLink from "./navigation-link.astro";
---

<header class="fixed inset-x-0 top-0 px-8 py-6 bg-gray-950 z-10">
  <div class="flex justify-between items-center max-w-3xl mx-auto">
    <Logo />
    <nav aria-label="Website navigation" class="flex items-center gap-5">
      <NavigationLink to="/projects" icon="i-lucide-box">
        Projects
      </NavigationLink>
      <NavigationLink to="/blog" icon="i-lucide-file-text">Blog</NavigationLink>
      <NavigationLink to="/friends" icon="i-lucide-users-round">
        Friends
      </NavigationLink>
    </nav>
  </div>
</header>
