---
import NavLink from "./nav-link.astro";
import navLinks from "./nav-links.json";
---

<nav class="flex items-center">
  {navLinks.map(({ href, text }) => <NavLink href={href}>{text}</NavLink>)}
</nav>
