---
import Favicon from "icons/favicon.astro";

const url = Astro.url.pathname === "/" ? "#top" : "/";
---

<a href={url} class="p-1 hover:opacity-75 transition-opacity">
  <Favicon size={28} />
  <span class="sr-only">Top of page</span>
</a>
