---
import { Image } from "astro:assets";
---

<a
  href="/"
  class="flex items-center gap-3 py-4 font-600 text-lg hover:text-sky-600 dark:hover:text-sky-400 transition-colors"
>
  <Image src="/favicon.svg" alt="" width={24} height={32} class="w-6 h-8" />
   Yuwang Cai
</a>
