---
import ThemeToggle from "./theme-toggle.astro";
import VerticalNav from "./vertical-nav.astro";
---

<div
  id="menu"
  class="fixed left-0 right-0 top-0 bottom-0 z-10 hidden pt-20 bg-slate-50 dark:bg-slate-950"
>
  <div class="max-w-sm px-8 py-4 mx-auto">
    <VerticalNav />
    <div
      class="flex justify-between items-center px-5 py-4 rounded-lg mt-8 bg-slate-100 dark:bg-slate-900"
    >
      <span class="font-500 text-sm">Theme</span>
      <ThemeToggle />
    </div>
  </div>
</div>
