<button
  type="button"
  aria-controls="menu"
  aria-label="open menu"
  aria-expanded="false"
  id="menu-control"
  class="p-4 transition-opacity hover:opacity-75"
>
  <span class="i-tabler-menu-2 block text-2xl"></span>
</button>

<script>
  const control = document.querySelector("#menu-control") as HTMLButtonElement;
  const menu = document.querySelector("#menu") as HTMLDivElement;

  let isOpen = false;

  control.addEventListener("click", () => {
    isOpen = !isOpen;

    menu.classList.toggle("hidden");
    document.body.classList.toggle("overflow-hidden");

    if (isOpen) {
      control.setAttribute("aria-label", "close menu");
      control.setAttribute("aria-expanded", "true");
    } else {
      control.setAttribute("aria-label", "open menu");
      control.setAttribute("aria-expanded", "false");
    }
  });
</script>
