---
import Menu from "icons/menu.astro";
---

<button
  type="button"
  aria-controls="menu"
  aria-expanded="false"
  id="menu-toggler"
  class="p-1 text-graydark-11 hover:text-cyandark-11 transition-colors"
>
  <Menu size={24} id="menu-icon" />
  <span class="sr-only">Toggle menu</span>
</button>

<script>
  const menu = document.querySelector("#menu") as HTMLDivElement;
  const menuIcon = document.querySelector("#menu-icon") as SVGElement;
  const toggler = document.querySelector("#menu-toggler") as HTMLButtonElement;
  const lastFocus = menu.querySelector("a:last-child") as HTMLAnchorElement;

  let isExpanded = false;

  function toggleMenu() {
    isExpanded = !isExpanded;
    document.body.classList.toggle("overflow-hidden");
    menu.classList.toggle("invisible");
    menu.classList.toggle("-translate-y-full");
    menuIcon.classList.toggle("open");
    toggler.setAttribute("aria-expanded", isExpanded ? "true" : "false");
  }

  toggler.addEventListener("click", toggleMenu);

  toggler.addEventListener("keydown", (e) => {
    if (isExpanded && e.key === "Tab" && e.shiftKey) {
      e.preventDefault();
      lastFocus.focus();
    }
  });

  lastFocus.addEventListener("keydown", (e) => {
    if (isExpanded && e.key === "Tab" && !e.shiftKey) {
      e.preventDefault();
      toggler.focus();
    }
  });

  document.addEventListener("keydown", (e) => {
    if (isExpanded && e.key === "Escape") {
      toggleMenu();
      toggler.focus();
    }
  });
</script>
