---
export interface Props {
  href: string;
}

const { href } = Astro.props;

const isActive = Astro.url.pathname.startsWith(href);
---

<a
  href={href}
  class:list={[
    "md:px-4 py-4 md:py-6 font-500",
    isActive
      ? "text-sky-700 dark:text-sky-300"
      : "hover:text-sky-700 dark:hover:text-sky-300 transition-colors",
  ]}
>
  <slot />
</a>
