---
interface Props {
  to: string;
  icon: string;
}

const { to, icon } = Astro.props;

const isActive = Astro.url.pathname.startsWith(to);
---

<a
  href={to}
  aria-current={isActive ? "page" : "false"}
  class:list={[
    "font-medium",
    isActive || "text-gray-400 hover:text-gray-200 transition-colors",
  ]}
>
  <span class:list={[icon, "sm:hidden size-5"]}></span>
  <span class="hidden sm:inline">
    <slot />
  </span>
</a>
