<button
  type="button"
  role="switch"
  aria-label="use dark mode"
  aria-checked="false"
  class="theme-toggle h-6 w-11 border border-slate-300 rounded-full bg-slate-200 transition-colors dark:border-slate-700 hover:border-sky-700 dark:bg-slate-800 dark:hover:border-sky-300"
>
  <span
    class="grid h-5 w-5 place-items-center rounded-full bg-slate-50 transition-transform dark:translate-x-5.5 dark:bg-slate-950"
  >
    <span class="i-carbon-sun dark:i-carbon-moon text-xs"></span>
  </span>
</button>

<script>
  const toggles = [
    ...document.querySelectorAll(".theme-toggle"),
  ] as HTMLButtonElement[];

  let isDark = document.documentElement.classList.contains("dark");

  function syncToggles() {
    const ariaLabel = isDark ? "Use light mode" : "Use dark mode";
    const ariaChecked = isDark ? "true" : "false";
    toggles.forEach((button) => {
      button.setAttribute("aria-label", ariaLabel);
      button.setAttribute("aria-checked", ariaChecked);
    });
  }

  function syncLocalStorage() {
    const theme = isDark ? "dark" : "light";
    localStorage.setItem("theme", theme);
  }

  syncToggles();

  toggles.forEach((button) => {
    button.addEventListener("click", () => {
      isDark = !isDark;
      document.documentElement.classList.toggle("dark");
      syncToggles();
      syncLocalStorage();
    });
  });
</script>
