<button
  type="button"
  role="switch"
  aria-checked="false"
  aria-label="use dark mode"
  class="theme-toggle h-6 w-11 border border-slate-300 rounded-full bg-slate-200 dark:border-slate-700 dark:bg-slate-800"
>
  <span
    class="grid h-5 w-5 place-items-center rounded-full bg-slate-50 transition-transform dark:translate-x-5.5 dark:bg-slate-950"
  >
    <span class="i-carbon-sun dark:i-carbon-moon text-xs"></span>
  </span>
</button>
