---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  to: string;
  icon: string;
}

const { to, icon, title, class: classNames } = Astro.props;
---

<a
  href={to}
  title={title}
  target="_blank"
  class:list={[
    "p-2 rounded-md hover:bg-gray-900 transition-colors",
    classNames,
  ]}
>
  <span class:list={[icon, "size-5.5 sm:size-6"]}></span>
  <span class="sr-only">
    <slot />
  </span>
</a>
