---
import { Code } from "preact-feather";
import BackToTop from "./BackToTop";

const thisYear = new Date().getFullYear();
---

<footer class="border-t border-t-slate-200 dark:border-t-slate-800">
  <div
    class="flex flex-col md:flex-row justify-between items-center gap-x-8 gap-y-2 max-w-6xl px-8 py-2 mx-auto"
  >
    <a href="/" class="flex items-center gap-3 order-2 md:order-1 px-2 py-1">
      <img src="/logo.svg" alt="" width="20" height="28" class="w-5 h-7" />
      <p class="font-medium text-lg">mrcai.dev</p>
    </a>
    <div
      class="order-3 md:order-2 py-1 space-y-1 text-xs text-slate-600 dark:text-slate-400"
    >
      <small>©2022-{thisYear} Yuwang Cai. All Rights Reserved.</small>
    </div>
    <div class="flex items-center gap-2 order-1 md:order-3">
      <a
        href="https://github.com/mrcaidev/home"
        target="_blank"
        rel="noreferrer"
        aria-label="View source code on GitHub"
        class="p-2 hover:scale-110 active:scale-90 transition-transform"
      >
        <Code size={24} />
      </a>
      <BackToTop client:visible />
    </div>
  </div>
</footer>
