<footer class="px-8 py-3 border-t border-gray-dim text-center">
  <small class="text-xs text-gray-dim">
    <span class="inline-block">©2020-present Yuwang Cai.</span>
    <span class="inline-block">All rights reserved.</span>
  </small>
</footer>
