<footer class="px-8 py-3 border-t border-graydark-6 mt-20 text-center">
  <small class="text-xs text-graydark-11">
    <span class="inline-block">©2022-present Yuwang Cai.</span>
    <span class="inline-block">All rights reserved.</span>
  </small>
</footer>
