<footer class="border-t border-slate-200 px-8 py-4 dark:border-slate-800">
  <p class="text-center text-sm font-500 text-slate-600 dark:text-slate-400">
    Copyright © 2022-present Yuwang Cai
  </p>
</footer>
