<footer class="px-8 py-4 border-t border-slate-200 dark:border-slate-800">
  <p class="font-500 text-sm text-center text-slate-600 dark:text-slate-400">
    Copyright © 2022-present Yuwang Cai
  </p>
</footer>
