---
import Menu from "./Menu";
import NavLink from "./NavLink.astro";
import ThemeToggler from "./ThemeToggler";

const navLinks = [
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Contact",
    href: "/contact",
  },
  {
    name: "Friends",
    href: "/friends",
  },
  {
    name: "Blog",
    href: "https://blog.mrcai.dev",
  },
];
---

<header class="fixed top-0 left-0 right-0 backdrop-blur">
  <div class="flex justify-between items-center max-w-7xl px-8 py-4 mx-auto">
    <a href="/" aria-label="Homepage">
      <img src="/logo.svg" alt="" width="30" class="p-1" />
    </a>
    <nav class="hidden md:flex gap-4">
      {navLinks.map((link) => <NavLink {...link} />)}
    </nav>
    <div class="hidden md:block">
      <ThemeToggler client:visible />
    </div>
    <div class="block md:hidden">
      <Menu client:visible>
        {navLinks.map((link) => <NavLink {...link} />)}
      </Menu>
    </div>
  </div>
</header>
