---
import favicon from "assets/favicon.svg";
import { Image } from "astro:assets";
---

<section
  class="min-h-screen flex flex-col items-center justify-center lg:flex-row lg:justify-around"
>
  <div
    class="order-2 text-center lg:order-1 space-y-4 lg:text-left md:space-y-6"
  >
    <p
      class="text-lg font-600 text-slate-600 md:text-xl xl:text-2xl dark:text-slate-400"
    >
      Hello, my name is
    </p>
    <h1 class="text-4xl font-700 md:text-6xl sm:text-5xl xl:text-7xl">
      Yuwang Cai.
    </h1>
    <p
      class="text-4xl font-700 text-sky-600 md:text-6xl sm:text-5xl xl:text-7xl dark:text-sky-400"
    >
      A full stack developer.
    </p>
    <p
      class="text-lg text-slate-600 md:text-xl xl:text-2xl dark:text-slate-400"
    >
      Chinese student. Open source contributor. Tech enthusiast. He/him.
    </p>
  </div>
  <div
    class="relative order-1 grid aspect-square w-60 place-items-center lg:order-2 md:w-80 xl:w-100"
  >
    <div
      class="absolute left-1/2 top-1/2 h-3/4 w-3/4 rounded-full from-blue-300 to-cyan-300 bg-gradient-to-tr blur-3xl -z-10 -translate-1/2 dark:from-blue-700 dark:to-cyan-700"
    >
    </div>
    <Image
      src={favicon}
      alt="Logo"
      width={176}
      height={240}
      class="aspect-ratio-[3/4] w-22 md:w-33 xl:w-44"
    />
  </div>
</section>
