<section
  class="min-h-screen flex flex-col items-center justify-center gap-x-8 md:flex-row xl:gap-x-16"
>
  <div
    class="order-2 text-center text-balance md:order-1 space-y-5 md:text-left"
  >
    <h1 class="text-4xl font-bold lg:text-6xl md:text-5xl">
      Hi, I am
      <span
        class="from-blue-400 to-cyan-400 bg-gradient-to-r bg-clip-text text-transparent"
        >Yuwang Cai</span
      >.
    </h1>
    <p class="text-lg text-slate-400 lg:text-xl">
      Chinese student. Full-stack developer. Tech enthusiast. He/him.
    </p>
    <div class="flex items-center justify-center gap-4 md:justify-start">
      <a
        href="mailto:mrcaidev@gmail.com"
        target="_blank"
        rel="noreferrer"
        class="inline-flex items-center justify-center gap-2 rounded-md bg-slate-200 px-4 py-2 text-sm text-slate-800 font-medium transition-colors hover:bg-slate-200/90"
      >
        <span class="i-lucide-mail text-base"></span>
        Email
      </a>
      <a
        href="https://github.com/mrcaidev"
        target="_blank"
        rel="noreferrer"
        class="inline-flex items-center justify-center gap-2 border border-slate-700 rounded-md px-4 py-2 text-sm font-medium transition-colors hover:bg-slate-800"
      >
        <span class="i-lucide-github text-base"></span>
        GitHub
      </a>
      <a
        href="https://x.com/mrcaidev"
        target="_blank"
        rel="noreferrer"
        class="inline-flex items-center justify-center gap-2 border border-slate-700 rounded-md px-4 py-2 text-sm font-medium transition-colors hover:bg-slate-800"
      >
        <span class="i-lucide-twitter text-base"></span>
        Twitter
      </a>
    </div>
  </div>
  <div
    class="relative order-1 grid aspect-square w-60 shrink-0 place-items-center md:order-2 lg:w-80 md:w-72 xl:w-100"
  >
    <div
      class="absolute left-1/2 top-1/2 h-3/4 w-3/4 rounded-full from-blue-700 to-cyan-700 bg-gradient-to-tr blur-3xl -z-10 -translate-1/2"
    >
    </div>
    <svg viewBox="0 0 440 600" xmlns="http://www.w3.org/2000/svg" class="w-2/5">
      <polygon fill="#4bafff" points="0,100 200,100 100,150"></polygon>
      <polygon fill="#4bc8fd" points="120,50 320,50 220,100"></polygon>
      <polygon fill="#85fafd" points="240,0 440,0 340,50"></polygon>
      <polygon fill="#3296ff" points="0,100 100,150 150,600"></polygon>
      <polygon fill="#32c8ff" points="120,50 220,100 270,550"></polygon>
      <polygon fill="#32ffff" points="240,0 340,50 390,500"></polygon>
    </svg>
  </div>
</section>
