---
import Navigation from "components/navigation";
---

<div
  id="menu"
  class="flex sm:hidden flex-col justify-center fixed top-0 bottom-0 left-0 right-0 py-20 bg-gray-app -translate-y-full duration-500 z-20"
>
  <Navigation />
</div>
