---
import { ExternalLink } from "preact-feather";
export interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
const isCurrent = Astro.url.pathname.startsWith(href);
const isInternal = href.startsWith("/") || href.startsWith("#");
---

<a
  href={href}
  aria-current={isCurrent ? "page" : "false"}
  class:list={[
    "px-2 py-1 font-semibold text-lg hover:text-highlight text-center",
    isCurrent ? "text-highlight" : "text-dim",
  ]}
  >{name}
  {!isInternal && <ExternalLink size={18} class="inline" />}
</a>
