---
export type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;

const id = title.toLowerCase().replace(/\s+/g, "-");
---

<div class="mb-10 text-center">
  <h2 id={id} class="relative mb-4 font-bold text-4xl sm:text-5xl scroll-mt-24">
    <span
      aria-hidden="true"
      class="absolute bottom-4 left-0 right-0 bg-clip-text bg-gradient-to-t from-graydark-2 to-graydark-5 font-bold text-5xl sm:text-6xl text-transparent select-none -z-10"
    >
      {title}
    </span>
    {title}
  </h2>
  <span class="font-medium sm:text-lg text-graydark-11">{description}</span>
</div>
