---
import SectionTitle from "components/section-title.astro";
import { friends } from "./data";
import Friend from "./friend.astro";
---

<section class="py-20">
  <SectionTitle title="Friends" description="Worth checking out" />
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {
      friends.map((friend) => (
        <li>
          <Friend {...friend} />
        </li>
      ))
    }
  </ul>
</section>
