---
import FriendCard from "./friend-card.astro";
import { friends } from "./friends";
---

<section class="py-12">
  <ul class="grid grid-cols-1 gap-3 md:grid-cols-2">
    {
      friends.map((friend) => (
        <li>
          <FriendCard {...friend} />
        </li>
      ))
    }
  </ul>
</section>
