---
import { timeline } from "./timeline";
import TimelineEvent from "./timeline-event.astro";
import TimelineExperience from "./timeline-experience.astro";
import TimelineToggle from "./timeline-toggle.astro";
---

<section>
  <div>
    {
      timeline.map(({ type, ...props }) =>
        type === "experience" ? (
          <TimelineExperience {...props} />
        ) : (
          <TimelineEvent {...props} />
        ),
      )
    }
  </div>

  <TimelineToggle />
</section>
