<div class="mt-4 flex justify-center">
  <div id="timeline-expander">
    <button
      type="button"
      class="mx-auto inline-flex flex-col items-center gap-2 text-sm font-medium transition-colors hover:text-slate-200/90"
    >
      Expand
      <span class="i-lucide-chevrons-down animate-bounce"></span>
    </button>
  </div>
  <div class="hidden" id="timeline-closer">
    <button
      type="button"
      class="mx-auto inline-flex flex-col items-center gap-1 text-sm font-medium transition-colors hover:text-slate-200/90"
    >
      <span class="i-lucide-chevrons-up animate-bounce"></span>
      Close
    </button>
  </div>
</div>

<script>
  const hiddenTimelineNodes = document.querySelectorAll(
    ".timeline-node.hidden",
  );
  const timelineExpander = document.getElementById("timeline-expander")!;
  const timelineCloser = document.getElementById("timeline-closer")!;

  function toggle() {
    hiddenTimelineNodes.forEach((node) => node.classList.toggle("hidden"));
    timelineExpander.classList.toggle("hidden");
    timelineCloser.classList.toggle("hidden");
  }

  timelineExpander.addEventListener("click", toggle);
  timelineCloser.addEventListener("click", toggle);
</script>
