---
const thisYear = new Date().getFullYear();
---

<div
  class="flex flex-col justify-center items-center order-3 md:order-2 leading-loose text-xs text-dim"
>
  <p>©2022-{thisYear} Yuwang Cai. All Rights Reserved.</p>
</div>
