---
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/900.css";
import Header from "components/Header";
import "styles/global.css";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth [-webkit-tap-highlight-color:transparent]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Yuwang Cai's homepage" />
    <title>Home - MrCai</title>
  </head>
  <body class="max-w-6xl mx-auto bg-normal text-normal">
    <Header />
    <slot />
  </body>
</html>
