---
import Page from "./Page.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Page title={title} description={description}>
  <main class="min-h-screen max-w-5xl p-8 pt-20 mx-auto">
    <div class="mt-4 mb-12">
      <h1 class="mb-4 font-bold text-4xl sm:text-5xl">{title}</h1>
      <p class="font-medium text-lg text-dim">{description}</p>
    </div>
    <slot />
  </main>
</Page>
