---
import Page from "./Page.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Page title={title} description={description}>
  <main class="max-w-5xl min-h-screen px-8 py-20 mx-auto">
    <div class="my-4 space-y-4">
      <h1 class="font-bold text-4xl sm:text-5xl">{title}</h1>
      <p class="font-medium text-lg text-dim">{description}</p>
    </div>
    <slot />
  </main>
</Page>
