---
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/900.css";
import Footer from "components/Footer.astro";
import Head from "components/Head.astro";
import Header from "components/Header.astro";
import "styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} />
  <body class="flex flex-col min-h-screen bg-normal text-normal">
    <Header />
    <main class="grow max-w-7xl px-8 mx-auto mt-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
