---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/700.css";
import Footer from "components/Footer.astro";
import Head from "components/Head.astro";
import Header from "components/Header.astro";
import "styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} />
  <body
    class="bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-slate-200"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
