---
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/800.css";
import Footer from "components/Footer.astro";
import Head from "components/Head.astro";
import Header from "components/Header.astro";
import "styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} />
  <body class="bg-normal text-normal">
    <Header />
    <main
      class="flex flex-col justify-center items-center min-h-screen max-w-7xl p-8 pt-20 mx-auto"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
